*{
  border:2px solid red;
}
body
{
  height: 100vh;
  width:100vw;
  border:2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main
{

  display: flex;
  flex-direction: column;
  height:500px;
  width:400px;
  border:2px solid red;
  position:relative;
}
.joineduser
{
  position:absolute;
  right:-300px;
  height:max-content;
  padding:20px;
  width:250px;
}
h1
{
  text-align: center;


}
.chatBody
{
  height:100%;
  overflow-x: hidden;
  overflow-y:scroll;
}
.input
{
  height:55px;
  position:relative;
}
.input input
{
  position:absolute;
  height:100%;
  width:100%;
}
.input button
{
  height:100%;
  width:70px;
  position: relative;
  float: right;
}