.user-online-box
{
  /* border:2px solid red; */
  display: flex;
  justify-content: space-between;
  padding:2px 5px;
  border-radius: 8px;
  align-items: center;
  margin-top:10px;
  background-color: rgba(233, 228, 206, 0.734);;
}
.greendot
{
  height:10px;
  width:10px;
  border-radius: 50%;
  background-color: green;
}
.online-user-name
{
  font-size: 1.2rem;
}